*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: grid;
    grid-template:
    "header header header header" 60px
    "left-bar main right-bar side-bar" 1fr /
    200px minmax(200px, 1fr) 300px 50px ;
}

      /* HEADER */
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    background-color: white;
}
.title{
    margin-left: 40px;
    line-height: 50px;
    font-size: 20px;
    
}
.search-bar{
    font-size: 20px;
    background-color: #f1f3f4;
    padding-right: 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 8px;
    align-self: center;
}

.profile{
    justify-self: end;
    align-self: center;
    padding: 9px;
    padding-left: 44px;
    margin-right: 30px;
    border: solid 1px #f1f3f4;
    border-radius: 8px;
    
}

        /* LEFT BAR */

.left-bar{
    border: solid 1px #eaeeef;
    grid-area: left-bar;
    display: grid;
    grid-template-rows: 80px 300px 130px 200px 15px;
}
.compose{
    border: 1px solid #f1f3f4;
    padding: 15px;
    padding-left: 40px;
    max-width: 140px;
    margin: 5px;
    border-radius: 20px;
    align-self: center;
    justify-self: start;
    box-shadow: #83888b 20px;
    text-align: end;
}
.left-bar ul{
    list-style: none;
    display: grid;
    overflow-y: scroll;
    margin-left: 20px;
    margin-top: 10px;
    align-self: start;
    padding-bottom: 200px;
}
.meet .title1{
    margin: 10px;
}
.meet{
    border-top: 1px solid #eaeeef;
    border-bottom:  1px solid #eaeeef;
    padding-bottom: 15px;
    
}
.item1{
    margin-left: 35px;
    padding: 3px;
}


.bottom-bar{
    display: grid;
    text-align: center;
    align-self: end;
    border-top: solid 1px #eaeeef;
    padding-top: 20px;
}

           /* MAIN  */

.main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    overflow-y: scroll;
}
.main p{
    padding: 2px;
    border-top: solid 1px #eaeeef;
}

           /* RIGHT BAR  */
.right-bar{
    grid-area: right-bar;
    overflow-y: scroll;
}

.settings{
    border-top: solid 1px #eaeeef;
    padding: 15px;
    font-size: 20px;
}
.all-settings{
    font-size: 18px;
    border: solid #eaeeef 1px;
    text-align: center;
    max-width: 280px;
    margin-left: 10px;
    padding: 5px;
}
.density{
    border: solid 1px #eaeeef;
    padding: 10px;
    font-size: 10PX;
}
.density-list{
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
    line-height: 40px;
}
.theme{
    text-align: start;
    border: solid 1px #eaeeef;
    height: 150px;
    align-content: end;
}
span{
    margin-left: 10px;
}
.pics {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 45px);
    gap: 5px;
    margin: 5px;
    align-content: end;
}
.pics div{
    border: solid black 1px;
    align-content: end;
}

.view-all {
    color: blue;
    justify-self: end;
    margin-left: 160px;
    
}
.type{
    border: solid 1px #eaeeef;
    padding: 10px;
}
.type-list{
    font-size: 15px;
    padding: 10px;
    margin-left: 20px;
    line-height: 40px;
}

      /* SIDE BAR  */
.side-bar{
    grid-area: side-bar;    
}
